In [64]:
import pandas as pd
import nltk
import numpy as np
import re

In [65]:
import chardet
filename = 'addataset.csv' 
detector = chardet.UniversalDetector()
for line in open(filename, 'rb'):
        detector.feed(line)
        if detector.done: break
detector.close()
print(f"Encoding: {detector.result['encoding']} (confidence: {detector.result['confidence']})\n")

Encoding: utf-8 (confidence: 0.99)

In [66]:
# path to the dataset

path = 'addataset.csv'

In [67]:
df = pd.read_csv(path, delimiter=',', encoding='ISO-8859-1')

df.tail()

                                            Transcript  AD
493    well this one is in the cookie jar . and thi...   1
494    the little boy is on the stool which is tipp...   1
495   oh you want me to tell you . the mother and h...   1
496   oh that kid's gonna get a good spill off of t...   1
497   ah oh boy .  oh the kids are trying to get th...   1

In [68]:
df.head()

                                          Transcript  AD
0   the scene is in the in the kitchen . the moth...   0
1   oh I see the sink is running over . I see the...   0
2   a boy and a girl are in the kitchen with thei...   0
3    it was summertime and mother and the childre...   0
4   wait until I put my glasses on . oh ? there's...   0

In [69]:
df.shape

(498, 2)

In [70]:
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/mac/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [71]:
customStopwords = {'a','are','about','above','after','again','against','ain','all','am','an','any','aren',"aren't",'as',
                   'at','be','because','been','before','being','below','between','both','but','by',
                   'can','couldn',"couldn't",'d','didn',"didn't",'do','does','doesn',"doesn't",'doing','don',"don't",
                   'down','during','each','few','for','from','further','had','hadn',"hadn't",'has','hasn',"hasn't",
                   'have','haven',"haven't",'having','he','her','here','hers','herself','him','himself','his','how', 'i','if', 
                   'in', 'into','is','isn',"isn't", "it's",'its','itself','just','ll','m','ma','me','mightn',"mightn't",
                   'more','most','mustn',"mustn't",'my','myself','needn',"needn't",'no','nor','not','now', 'o','of',
                   'off','on','once','only','or','other','our','ours','ourselves','out','over','own','re','s','same',
                   'shan',"shan't",'she',"she's",'should',"should've",'shouldn',"shouldn't",'so','some','such','t','than','that',"that'll",
                   'the','there',"there's",'their','theirs','them','themselves','then','these','they','this','those','through','to','too',
                   'under','until','up','ve','very','was','wasn',"wasn't",'we','were','weren',"weren't",'what','when',
                   'where','which','while','who','whom','why','will','with','won',"won't",'wouldn', "wouldn't",'y',
                   'you',"you'd","you'll","you're","you've",'your','yours','yourself','yourselves'}

In [72]:
preprocessed_data = []
def preprocess(dataframe):
    for i in range(dataframe.shape[0]):
        df = re.sub('[^a-zA-Z]',' ',dataframe.iloc[i][0]) ##remove all the characters except alphabets (E.g. &, *, #)
        df = df.lower() ## convert all the sentences to lower case
        df = df.split() ##tokenize each word
        df = [word for word in df if word not in customStopwords] ##removing stopwords
        lemmatizer = WordNetLemmatizer()
        df = [lemmatizer.lemmatize(word) for word in df] ##performed lemmatization 
        df = ' '.join(df) # using space as separator to concatenate the list elements
        # print(df)
        preprocessed_data.append(df)
    return preprocessed_data

In [74]:
preprocessed_data = preprocess(df)
preprocessed_data[259]

'well child enjoying it and mother drying dish and little boy fall careful oh dishwashing and little boy trying get something outof box imagine it cookie box cookie and and stool it turned yet way it two leg it much longer reaching cookie jar dishwashing evidently hafta dry dish wash think'

In [56]:
preprocessed_data = pd.DataFrame(data=preprocessed_data,columns=['Transcript']) ##create dataframe of preprocessed data
preprocessed_data.shape

(498, 1)

In [57]:
preprocessed_data.replace('',np.nan,inplace=True)
preprocessed_data

                                            Transcript
0    scene kitchen mother wiping dish and water run...
1    oh see sink running see stool tipping little b...
2    boy and girl kitchen mother and little boy get...
3    it summertime and mother and child working kit...
4    wait put glass oh girl reaching cookie boy sta...
..                                                 ...
493  well one cookie jar and tried climb oh boy thi...
494  little boy stool tipping and want cooky give s...
495  oh want tell mother and two child and child ge...
496  oh kid gonna get good spill stool mother turn ...
497  ah oh boy oh kid trying get cooky and laughing...

[498 rows x 1 columns]

In [58]:
preprocessed_data['AD'] = df['AD'].values
preprocessed_data

                                            Transcript  AD
0    scene kitchen mother wiping dish and water run...   0
1    oh see sink running see stool tipping little b...   0
2    boy and girl kitchen mother and little boy get...   0
3    it summertime and mother and child working kit...   0
4    wait put glass oh girl reaching cookie boy sta...   0
..                                                 ...  ..
493  well one cookie jar and tried climb oh boy thi...   1
494  little boy stool tipping and want cooky give s...   1
495  oh want tell mother and two child and child ge...   1
496  oh kid gonna get good spill stool mother turn ...   1
497  ah oh boy oh kid trying get cooky and laughing...   1

[498 rows x 2 columns]

In [59]:
preprocessed_data.isna().sum() ##check if the dataset contains NaN values

Transcript    0
AD            0
dtype: int64

In [60]:
preprocessed_data.dropna(inplace=True) ##drop NaN value
preprocessed_data.isna().sum()

Transcript    0
AD            0
dtype: int64

In [61]:
from pickle import dump
filename='preprocessed_data.pkl'
def save_preprocess_data(df,filename): ##Function to save the preprocessed data
    dump(df,open(filename,'wb'))
    print('Preprocessed data is saved :) :%s' % filename)  
save_preprocess_data(preprocessed_data,filename)

Preprocessed data is saved :) :preprocessed_data.pkl